* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    /* Primary */
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);


    /* Neutral */
    --Grey-500: hsl(234, 12%, 34%);
    --Grey-400: hsl(212, 6%, 44%);
    --White: hsl(0, 0%, 100%);
}

body {
  background: var(--White);
  font-family: 'Poppins', sans-serif;
  line-height: 1.5rem;
}

.tech {
  max-width: 65rem;
  margin: 3rem auto;
  padding: 0 1.25rem;
}

.header {
  text-align: center;
  margin-bottom: 3rem;
}

.subtitle {
  font-size: 2rem;
  color: var(--Grey-400);
}

.header h1 {
  font-size: 2rem;
  margin: 0.6rem 0;
}

.description {
  max-width: 32rem;
  margin: 0 auto;
  font-size: 0.95rem;
  color: var(--Grey-400);
  max-width: 23rem;
}


.cards {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  min-height: 10rem;
}

.card {
  width: 100%;
  max-width: 22rem;
  padding: 2.2rem 2rem;
  margin-inline: auto;
  background: var(--White);
  border-radius: 0.4rem;
  box-shadow: 0 0.8rem 2rem rgba(0,0,0,0.08);
  position: relative;
  height: 13rem;
}

.card h3 {
  margin-bottom: 0.6rem;
}

.card p {
  font-size: 0.9rem;
  color: var(--Grey-400);
  line-height: 1.7;
  font-weight: 400;
}

.card img {
  width: 3rem;
  position: absolute;
  right: 1.5em;
  bottom: 0.5rem;
  
}


.supervisor { border-top: 0.25rem solid var(--Cyan); }
.team       { border-top: 0.25rem solid var(--Red); }
.karma      { border-top: 0.25rem solid var(--Orange); }
.calculator { border-top: 0.25rem solid var(--Blue); }


@media (min-width: 60rem) {
  .cards {
    position: relative;
    display: block;
    height: 30rem;
  }

  .card {
    position: absolute;
    width: 19rem;
  }

  .supervisor {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .team {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .karma {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .calculator {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}
